
<table class="table">
  <thead class="thread-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">nome</th>
      <th scope="col">login</th>
      <th scope="col">cpf</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{student.nome}}</td>
      <td>{{student.login}}</td>
      <td>{{student.cpf}}</td>
      <td><button (click)="deleteUsuario(student.id)" class="btn btn-primary">Delete</button></td>
    </tr>
  </tbody>
</table>
